<table border="0">
    <tr>
        <td width="100" valign="top">
            <h4>党政机关</h4>
        </td>
        <td width="540">
            <strong>办公楼宇内人,资定位监控</strong>
            <p class="noindent">
            针对政府机关内流动人员复杂、资产文档保管需求性强，利用传感设备，RFID技术以及安防设备完成对大楼内人员和物资的监控管理。
            </p>
            <ul>
                <li>访客定位、监控</li>
                <li>基于RFID门禁考勤(可结合安防)</li>
                <li>资产定位、防盗</li>
            </ul>

            <strong>公务车管理</strong>
            <p class="noindent">
            建立一套综合的公务车管理系统,集车辆定位,路单管理,告警设置,统计汇总以及终端采集于一体.
            </p>

            <strong>公共交通综合信息平台</strong>
            <p class="noindent">
            为社会公众提供实时公交信息、出租车电召、长途客运信息、铁路、民航信息、交通气象信息等多方位、多方式、垮区域的出行信息服务，实现出行信息的动态发布。
            </p>
            <p class="noindent">
            现已实施地区：济南、济源、杭州、绍兴
            </p>

            <strong>
            智慧校园-家校通
            </strong>
            <p class="noindent">
            通过短信方式告之家长学生进出校门的动作，可配合人员定位方案，定位学生位置，实现学生在校园内的安全。
            </p>

            <strong>
            高校物联网实验室
            </strong>
            <p class="noindent">
            适用于高等专科院校物联网专业建设的配套实验器材，搭配专业教材和多种综合实践系统方案。
            </p>

            <strong>
            RFID图书馆管理系统
            </strong>
            <p class="noindent">
            利用RFID技术实现24小时自助借还、无人值守、智能快速盘点、倒架、顺架。
            </p>

        </td>
    </tr>
    <tr><td colspan="2" width="100%">
            <hr style="border-width:1px 0 0 0;border-style:dashed;border-color:#00F;"/>
    </td></tr>
    <tr>
        <td width="100" valign="top">
            <h4>企业级用户</h4>
        </td>
        <td width="540">

        <strong>
        智能楼宇
        </strong>
        <p class="noindent">
        利用传感设备，RFID技术以及安防设备对办公区域的人员、物资、环境进行监控管理。
        </p>
        <ul>
            <li>
            员工考勤、门禁、停车、食堂等多卡合一
            </li>
            <li>
            人员定位、访客安防
            </li>
            <li>
            资产定位、监控
            </li>
            <li>
            环境监控
            </li>
            <li>
            楼宇事务管理
            </li>
            <li>
            企业自有车队管理
            </li>
        </ul>
        </td>
    </tr>
    <tr><td colspan="2" width="100%">
            <hr style="border-width:1px 0 0 0;border-style:dashed;border-color:#00F;"/>
    </td></tr>
    <tr>
        <td width="100" valign="top">
            <h4>硬件市场</h4>
        </td>
        <td width="540">
            <strong>
            RFID相关硬件设备
            </strong>
            <p class="noindent">
            有源/无源标签、读写器、传感器/智能传感器
            </p>
        </td>
    </tr>
</table>
