{% extends "mail_base.html" %}

{% block title %}Welcome to Insigma IOT{% endblock %}

{% block content %}
<tr>
<td width="100%" bgcolor="#e6e6e6">
<table cellspacing="0" cellpadding="0" border="0" align="center" style="width: 584px;" class="table">
<tr>
<td width="584">
<p style="color: #808080; font-size: 11px; line-height: 30px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin: 0; padding: 0; font-weight: normal; text-align: center;"><a target="_blank" href="http://iottech.com.cn"  style="color: #808080;" name="chrome_clipper_gmail_web"><span style="color: #808080;">浏览网页版</span></a></p>
<table cellspacing="0" cellpadding="0" border="0" style="width: 584px;">
<tr>
<td width="584" style="background-color: #7cbc48;"><a href="http://links.evernote.mkt5371.com/ctt?kn=3&ms=NjQxMDQ3OQS2&r=MzMwMzA2OTU0NzAS1&b=0&j=NzY1MzEwNTYS1&mt=1&rt=0" target="_blank" name="chrome_clipper_gmail_header" ><img width="584" height="57" border="0"  src="http://www.yinxiang.com/media/yxbj/images/email_header.png" alt="印象笔记" style="margin: 0; padding: 0; display: block;" /></a></td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" style="width: 584px; -webkit-text-size-adjust: none;">
<tr>
<td width="580" style="background-color: #ffffff; background-image: url('http://evernote.com/media/img/email/interspire/background_body.gif'); background-position: 0 0; background-repeat: repeat-y; padding-left: 2px; padding-right: 2px;">
<table cellspacing="0" cellpadding="0" border="0" style="width: 580px; -webkit-text-size-adjust: none;">
<tr>
<td width="500" colspan="3" style="background-color: #ffffff; background-image: url('http://evernote.com/media/img/email/interspire/background_body-top.gif'); background-position: 0 0; background-repeat: repeat-x; padding: 20px 28px 0 28px;">
<p align="center" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-weight: normal !important; font-size: 26px; line-height: 33px; color: #7e7d7e; margin-top: 10px; margin-left: 0; margin-bottom: 20px; margin-right: 0; padding-top: 10px; padding-bottom: 10px;">剪藏+印象笔记，决胜邮箱之巅！</p>
</td>
</tr>
<tr>
<td align="center" colspan="3" style="background-color: #ffffff; padding: 0;"><a  name="chrome_clipper_gmail_download_hero" target="_blank" href="http://links.evernote.mkt5371.com/ctt?kn=1&ms=NjQxMDQ3OQS2&r=MzMwMzA2OTU0NzAS1&b=0&j=NzY1MzEwNTYS1&mt=1&rt=0"><img  src="http://www.yinxiang.com/media/yxbj/products/images/gmail_tips.jpeg" alt="一键剪藏Gmail邮件和附件" style="max-width: 100%; height: auto;" /></a></td>
</tr>
<tr>
<td valign="top" height="170" colspan="3" style="background-color: #ffffff; padding: 10px 40px 0 50px;">
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #7e7d7e; margin-top: 10px; margin-left: 0; margin-bottom: 14px; margin-right: 0; padding: 0;">巨慢无比的Gmail，折磨的你痛不欲生，却又无法割舍？</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #7e7d7e; margin-top: 10px; margin-left: 0; margin-bottom: 14px; margin-right: 0; padding: 0;"><a href="http://links.evernote.mkt5371.com/ctt?kn=11&ms=NjQxMDQ3OQS2&r=MzMwMzA2OTU0NzAS1&b=0&j=NzY1MzEwNTYS1&mt=1&rt=0" style="font-family: arial,Helvetica,sans-serif; font-size: 15px; color: #48b4c1; text-decoration: none;" target="_blank" name="chrome_clipper_gmail_update" ><span style="color: #48b4c1;">印象笔记&bull;剪藏Chrome版</span></a>盛大更新，一键剪藏Gmail邮件和附件！从此告别漫长等待，在印象笔记里快速看附件，轻松保存重要邮件！</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #7e7d7e; margin-top: 10px; margin-left: 0; margin-bottom: 14px; margin-right: 0; padding: 0;">还有<a target="_blank" href="http://links.evernote.mkt5371.com/ctt?kn=4&ms=NjQxMDQ3OQS2&r=MzMwMzA2OTU0NzAS1&b=0&j=NzY1MzEwNTYS1&mt=1&rt=0"  style="font-family: arial,Helvetica,sans-serif; font-size: 15px; color: #48b4c1; text-decoration: none;" name="chrome_clipper_gmail_tips"><span style="color: #48b4c1;">超级策略</span></a>，为你双手奉上，重要邮件妥妥保存，查找邮件轻轻松松！</p>
<p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #7e7d7e; margin-top: 10px; margin-left: 0; margin-bottom: 14px; margin-right: 0; padding: 0;">立即告诉你的朋友这个好消息吧！7天之内，推荐用Gmail的朋友下载印象笔记并成功注册，你和朋友就有机会免费获得一个月1G流量！(记得把你和朋友的注册邮箱地址，发邮件到<a  name="jiancang_yinxiang_com" href="mailto:jiancang@yinxiang.com" style="font-family: arial,Helvetica,sans-serif; font-size: 15px; color: #48b4c1; text-decoration: none;"><span style="color: #48b4c1;">jiancang@yinxiang.com</span></a>哦)</p>
</td>
</tr>
<tr>
<td width="195" height="20" style="background_color: #ffffff; padding: 20px 0 10px 0;"></td>
<td width="195" valign="top" height="20" align="center" style="background-color: #ffffff; padding: 20px 0 10px 0;">
{% endblock %}
